.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #22c55e;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #22c55e;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #22c55e;
}

.icons {
  display: flex;
  gap: 5px;
}

@media (max-width: 1055px) {
  .user-id-title {
    display: none;
  }

  .user-id {
    display: none;
  }
}
